header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  opacity: .65;
  color: inherit;
  margin-left: 15px;
  text-decoration: none;
}
header a:hover {
  opacity: .95;
}

#sing-in {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

p {
  margin: 5px;
  font-size: .62rem;
}
