header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  opacity: .65;
  color: inherit;
  margin: 18px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 280ms;
  font-size: 1.1rem;
}
header a:hover {
  opacity: .95;
}
